<%= form_for(@employee , :html => { :multipart => true }) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	Department : <%= f.collection_select :category_id, Category.find(:all), :id, :name ,{:prompt=> '---Select Category---'},{ :onchange=>"#{remote_function(:url=>load_subcategories_employees_path,:method=>:get,:with =>"'id='+value")}" }%><br><br>

Designation:<%= f.collection_select :subcategory_id, {},'','', {:prompt=>'---Select Subcategory----'}%><br><br>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :middlename %><br />
    <%= f.text_field :middlename %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phoneno %><br />
    <%= f.text_field :phoneno %>
  </div>
  <div class="field">
    <%= f.label :mailid %><br />
    <%= f.text_field :mailid %>
  </div>
  <div class="field">
    <%= f.label :Role %><br />
    <%= f.text_field :designation %>
  </div>

<div class="field">
	<%= f.label :Image %>
	<%= f.file_field :avatar %>
	</div><br />

<div class="field">
	<%= f.label :File %>
	<%= f.file_field :file %>
	</div><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
